@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
.arknight-menu-host {
  width: 800px;
  height: 400px;
  position: relative;
  background-image: url("https://pbs.twimg.com/media/EVPZSSzUUAIBswf?format=jpg&name=large");
  background-position: center;
  background-size: cover;
  overflow: hidden;
  & * {
    font-family: "Oswald", sans-serif;
    color: black;
  }
  .test2 {
    position: absolute;
    top: 8px;
    bottom: 8%;
    left: 3%;
    width: 35%;
    transform: rotate(-2deg);
    .arknight-menu-left-wrapper {
      height: 100%;
      transform: matrix3d(1, 0, 0, 0.0007, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 10px;
      .menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 6px;
        font-weight: 600;
        font-size: 24px;
        width: 100%;

        .breaking-news {
          width: 65%;
          height: 70px;
          background-color: white;
        }
        .info-wrapper {
          display: flex;
          gap: 4px;
          width: 35%;
          height: 100%;
          flex-direction: column;
          .info {
            width: 100%;
            height: 50%;
            background: url(../../../assets/images/background-arknight-menu-info.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            display: flex;
            justify-content: flex-end;
            align-items: end;
            padding: 5px;
            .text-menu {
              font-size: 18px;
            }
          }
          .friend {
            width: 100%;
            height: 50%;
            background-color: #484949;
            display: flex;
            justify-content: flex-end;
            align-items: end;
            padding: 5px;

            position: relative;
            .icon-friend {
              position: absolute;
              left: 10%;
              top: 5px;
              width: 25px;
              height: 70%;
              display: inline-block;
              background-color: white;
              -webkit-mask: url(../../../assets/images/icon-arkninght-menu-friend.svg)
                center center / contain no-repeat;
            }
            .text-menu {
              color: white;
              font-size: 18px;
            }
          }
        }

        .chat {
          position: relative;
          width: 95%;
          height: 60px;
          background-color: rgba($color: #000000, $alpha: 0.6);
          color: white;
          font-size: 10px;
          font-weight: 300;
          letter-spacing: 0.5px;
          display: flex;
          align-items: center;
          padding-left: 5%;
          .topic-chat {
            background-color: #c2c2c2;
            position: absolute;
            width: 30%;
            font-size: 6px;
            top: -5px;
            left: -5px;
            height: 10px;
            display: flex;
            align-items: center;
            padding-left: 5px;
          }
        }
      }
    }
  }
  .test {
    position: absolute;
    top: 8px;
    bottom: 20px;
    right: 1%;
    width: 40%;
    transform: rotate(2deg);
    // skewX(2deg);
    .arknight-menu-right-wrapper {
      // border: 2px solid greenyellow;
      // background-color: greenyellow;
      height: 100%;
      transform: matrix3d(1, 0, 0, -0.0007, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      display: flex;
      flex-direction: column;
      gap: 10px;
      .menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        font-weight: 600;
        font-size: 24px;
        width: 100%;
        .coin {
          width: 100%;
          background-color: rgba($color: #1c1c1c, $alpha: 0.25);
          color: white;
        }
        .store {
          padding: 0;
          padding-left: 30px;
          padding-top: 15px;
          width: 85%;
          height: 60px;
          background-color: #33bef9;

          color: white;
        }
        .combat {
          padding-left: 0px;
          width: 95%;
          height: 100px;
          background-color: rgba($color: #f4f4f4, $alpha: 0.95);
        }
        .mission {
          padding-left: 10px;
          width: 45%;
          height: 60px;
          position: relative;
          background: url(../../../assets/images/background-arknight-menu-mission.svg);
          background-size: 100% 100%;
          background-repeat: no-repeat;
          .border-mission {
            position: absolute;
            top: -2px;
            width: 80%;
            left: 10%;
            border: 0;
            height: 4px;
            background-color: #e75500;
          }
        }
        .base {
          padding-left: 10px;
          width: 45%;
          margin-right: 5%;
          height: 60px;
          background-color: rgba($color: #f4f4f4, $alpha: 0.95);
        }
        .squads {
          padding-left: 5%;
          background: url(../../../assets/images/background-arknight-menu-squads.svg);
          background-size: 100% 100%;
          background-repeat: no-repeat;
          width: 50%;
          height: 60px;
          font-size: 24px;
          position: relative;
          .chess {
            position: absolute;
            right: 5%;
            top: 10%;
            height: 80%;
            width: 100%;
            background-color: rgba($color: #9e9c9c, $alpha: 0.3);
            display: inline-block;
            // background-color: currentColor;
            // color: currentColor;
            -webkit-mask: url(../../../assets/images/chess-rook-alt.svg) right
              center / contain no-repeat;
          }
        }
        .Operator {
          padding-left: 10px;
          background-color: rgba($color: #f4f4f4, $alpha: 0.95);
          width: 50%;
          height: 60px;
        }
      }
    }
  }
}
